body {
  background: url(../images/pattern.jpg);
  font-family: "Roboto", sans-serif;
}

nav {
  height: 50px;
  background-color: #212121;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 20;
}

.hamburger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.menu_item:last-child {
  border-right: none;
}

.subheader {
  top: 50px;
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader_official {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 100;
  line-height: 13px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}

.subheader_call {
  display: block;
  margin-top: 23px;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  text-align: right;
  color: #ffffff;
}

.subheader_phone {
  display: block;
  margin-top: 8px;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  line-height: 18px;
  color: #ffffff;
}

.subheader_btn {
  border-radius: 5px;
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.2);
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
}

.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  top: -84px;
  margin-top: 50px;
  min-height: 800px;
  background: url(../images/header_background.jpg) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo_header {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}

.promo_subheader {
  margin: 0;
  margin-top: 14px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1;
}

.promo_descr {
  margin-top: 23px;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  border-radius: 4px;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.2);
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
}

.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.reasons {
  padding: 70px 0 65px 0;
  background-color: #ffff;
}

.black_label {
  margin: auto;
  width: 112px;
  height: 24px;
  background-color: #000000;
  font-size: 11px;
  font-weight: 100;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 24px;
}

.title {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: #222222;
  line-height: 1;
  margin: 38px 0 10px 0;
  text-transform: uppercase;
}

.subtitle {
  font-size: 17px;
  text-align: center;
  color: #222222;
}

.reasons_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 35px;
}

.reasons_bgico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 113px;
          flex: 0 0 113px;
  height: 113px;
  border-radius: 100%;
  background-color: #1eacc7;
  margin-right: 26px;
}

.reasons_textblock {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 341px;
          flex: 0 1 341px;
}

.reasons_subheader {
  font-size: 17px;
  font-weight: normal;
  color: #1eacc7;
}

.reasons_descr {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
  color: #202020;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 80px 0;
}

.mobile .row {
  margin-top: 13px;
}

.mobile_item {
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-top: 19px;
  padding: 92px 0 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile_item_1 {
  background: url("../images/uberapp_item1.jpg");
}

.mobile_item_2 {
  background: url("../images/uberapp_item2.jpg");
}

.mobile_item_3 {
  background: url("../images/uberapp_item3.jpg");
}

.mobile_item_4 {
  background: url("../images/uberapp_item4.jpg");
}

.mobile_item_5 {
  background: url("../images/uberapp_item5.jpg");
}

.mobile_item_6 {
  background: url("../images/uberapp_item6.jpg");
}

.mobile_item_subtitle {
  font-size: 24px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-color: #000000;
  margin: 0 auto;
  padding: 6px;
  cursor: pointer;
}

.mobile_item_plus::before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  position: absolute;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mobile_item_plus::after {
  content: '';
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mobile_item_plus:hover::after, .mobile_item_plus:hover::before {
  background-color: #ff5656;
}

.car {
  position: relative;
  padding: 57px 0 138px 0;
}

.car_blacksection {
  position: absolute;
  top: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: -1;
}

.car .black_label {
  background-color: #ffff;
  color: #000;
}

.car .title {
  color: #ffff;
}

.car .subtitle {
  color: #ffff;
}

.car img {
  display: block;
  margin: 56px auto 0 auto;
}

.car_descr {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.41;
  color: #222222;
  text-align: center;
}

.require {
  padding: 68px 0 51px 0;
  background-color: #fff;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;
  text-align: left;
  color: #222222;
}

.require_block {
  margin: 33px 0;
}

.require_title {
  font-size: 22px;
  font-weight: normal;
  color: #1ca8c3;
}

.require_list {
  list-style-type: none;
  padding-left: 50px;
}

.require_list li {
  position: relative;
}

.require_list li:before {
  content: '';
  position: absolute;
  left: -32px;
  top: 4px;
  width: 21px;
  height: 20px;
  background: url(../images/lst_bl.png) center center/cover no-repeat;
}

.require_descr {
  color: #1ca8c3;
}

.warning .require_title {
  color: #ff5656;
}

.warning .require_list li:before {
  background: url(../images/lst_or.png) center center/cover no-repeat;
}

.cities {
  height: 717px;
  background: url(../images/map_dots.png) center top/1440px no-repeat #080816;
  padding: 49px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cities_bg {
  width: 100%;
  height: 717px;
  background: url(../images/map_dots.png) center center/500px 717 no-repeat;
}

.cities .black_label {
  background-color: #ffff;
  color: #000;
}

.cities .title {
  color: #ffff;
}

.cities .subtitle {
  color: #ffff;
}

.cities_link {
  display: block;
  font-size: 15px;
  text-align: center;
  color: #1fbad6;
  text-transform: uppercase;
}

.cities_link:hover {
  text-decoration: none;
  color: #fff;
}

.footer {
  background-color: #fff;
  padding: 14px 22px 31px 22px;
}

.footer .myflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_share {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 320px;
          flex: 1 0 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_share a {
  display: block;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}

.footer_share_facebooklink {
  background: url(../images/i_facebook.svg) center center/30% no-repeat;
}

.footer_share_twitterlink {
  background: url(../images/i_twitter.svg) center center/50% no-repeat;
}

.footer_share_linkedinlink {
  background: url(../images/i_linkedin.svg) center center/50% no-repeat;
}

.footer_share_instalink {
  background: url(../images/i_insta.svg) center center/auto no-repeat;
}

.footer_textblock {
  -webkit-box-flex: 3;
      -ms-flex: 3 0 auto;
          flex: 3 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer_textblock .footer_blueline {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
}

.footer_textblock .footer_blocklinks1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  line-height: 1;
}

.footer_textblock .footer_blocklinks1 a {
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  color: #070716;
  text-transform: uppercase;
  margin: 0 23px;
}

.footer_textblock .footer_blocklinks2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.footer_textblock .footer_blocklinks2 a {
  font-size: 11px;
  font-weight: 300;
  text-align: center;
  color: #999999;
  text-transform: uppercase;
  margin: 0 11px;
}

.footer_textblock .footer_language {
  font-size: 11px;
  text-align: center;
  color: #1fbad6;
  text-transform: uppercase;
  margin-top: 19px;
}

.footer_apps {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 320px;
          flex: 1 0 320px;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer_apps a {
  display: block;
  width: 94px;
  height: 26px;
  margin: 0 3px;
  border-radius: 3px;
}

.footer_apps_apple {
  background: url(../images/appleapp.png);
}

.footer_apps_google {
  background: url(../images/googleplay1.png);
}

.footer_apps_windows {
  background: url(../images/windowsstore1.png);
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo_header {
    font-size: 50px;
  }
  .mobile_item {
    width: 100%;
  }
  .footer {
    padding: 25px 15px 15px 15px;
  }
  .footer .myflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: flex-start;
  }
  .footer_share {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .footer_textblock {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer_textblock .footer_blueline {
    width: 80%;
  }
  .footer_textblock .footer_blocklinks1 {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer_textblock .footer_blocklinks1 a {
    font-size: 14px;
    margin: 0;
  }
  .footer_textblock .footer_blocklinks2 {
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 11px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }
  .footer_textblock .footer_blocklinks2 a {
    margin-top: 13px;
  }
  .footer_apps {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .footer_apps a {
    margin: 2px 1px;
  }
  .footer_language {
    font-size: 11px;
  }
}

@media (max-width: 991px) {
  .menu_item {
    padding-right: 8px;
  }
  .menu_link {
    font-size: 10px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    margin-top: 21px;
    height: 40px;
    width: 100%;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .reasons_bgico {
    width: 113px;
    margin-right: 0;
  }
  .reasons_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reasons_subheader {
    margin-top: 20px;
  }
  .reasons_textblock {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .car img {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0px;
    left: -100%;
    height: 100vh;
    width: 50%;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.8s all;
    transition: 0.8s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.8s all;
    transition: 0.8s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader_phone {
    font-size: 16px;
    text-align: center;
    color: #ffffff;
  }
  .subheader_btn {
    height: 40px;
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
  .promo_header {
    line-height: 45px;
  }
  .mobile_item {
    height: 254px;
  }
  .mobile_item_subtitle {
    font-size: 18px;
  }
  .car_blacksection {
    height: 450px;
  }
}

@media (max-width: 575px) {
  nav {
    height: 30px;
  }
  .hamburger {
    width: 20px;
    height: 9px;
  }
  .hamburger span {
    height: 1px;
    margin-bottom: 3px;
  }
  .hamburger_active span {
    margin-bottom: -1px;
  }
  .subheader {
    top: 30px;
    height: 60px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 16px;
  }
  .subheader_phone {
    margin-top: 8px;
    font-size: 12px;
    line-height: 1;
  }
  .subheader_btn {
    margin-top: 9px;
    width: 110px;
    height: 22px;
    border-radius: 2px;
    font-size: 10px;
    line-height: 1;
  }
  .promo {
    margin-top: 30px;
    min-height: 400px;
    padding: 113px 0 35px 0;
  }
  .promo_descr {
    display: none;
  }
  .promo_header {
    font-size: 30px;
    line-height: 1.2;
  }
  .promo_subheader {
    font-size: 20px;
    line-height: 1.2;
    margin-top: 30px;
  }
  .promo_btn {
    border-radius: 3px;
    width: 210px;
    height: 50px;
    margin-top: 72px;
    font-size: 16px;
  }
  .menu {
    width: 85%;
  }
  .reasons {
    padding: 22px 0 36px 0;
  }
  .reasons_item {
    margin-top: 26px;
  }
  .reasons_bgico {
    width: 100px;
    height: 100px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
  }
  .reasons_textblock {
    margin-top: 27px;
  }
  .reasons_subheader {
    margin-top: 0;
  }
  .reasons_descr {
    margin-top: 5px;
    font-size: 16px;
  }
  .mobile {
    padding: 22px 0 43px 0;
  }
  .mobile_item {
    width: 290px;
  }
  .car {
    padding: 25px 0 33px 0;
  }
  .car_blacksection {
    height: 390px;
  }
  .car .title, .car .subtitle {
    display: none;
  }
  .car img {
    width: 300px;
    margin-top: 35px;
  }
  .car_descr {
    margin-top: 21px;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .require {
    padding: 25px 0;
  }
  .require_block {
    margin: 11px 0;
  }
  .require_title {
    font-size: 16px;
  }
  .require_list {
    font-size: 14px;
    padding-left: 33px;
  }
  .require_descr {
    font-size: 14px;
  }
  .cities {
    height: 360px;
  }
  .cities .subtitle {
    font-size: 14px;
  }
  .title {
    font-size: 16px;
    margin-top: 15px;
    line-height: 1;
  }
}
/*# sourceMappingURL=style.css.map */